body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width: 40%;
    padding-left: 7%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
p{
    color: grey;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    padding-left: 3%;
    width: 40%;
    box-shadow: 5px 5px 30px 2px grey;
    height: 400px;
    border-left: 7px solid blue;
}
.flex{
    justify-content: space-evenly;
}
.flex div:first-child{
    border-left: 7px solid salmon;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 75%;
}
footer p{
    text-align: center;
}